<h1>Show All Data (Demo)</h1>

  <table style="border: 1px solid black">
  <tr><td> First Name </td><td> Last Name </td><td> Note</td><td> Should Do</td><td> Phone Number</td></tr>
  <% if @contact_all != nil %>
      <% @contact_all.each do |c| %>
          <tr><td style="background-color: orange">  <%= c.first_name %> </td><td style="background-color: orange"> <%= c.last_name %> </td>

              <td>
              <% if c.notes != nil %>
                  <% i = 1 %>
                  <%  c.notes.each do |n| %>
                      <%= i %>&nbsp; <%= n.body %><br>
                      <% i += 1 %>
                  <% end %>
              <% end %>
              </td>

              <td>
              <% if c.actions != nil %>
                  <% i = 1 %>
                  <%  c.actions.each do |a| %>
                      <%= i %>&nbsp; <%= a.should_do %><br>
                      <% i += 1 %>
                  <% end %>
              <% end %>
              </td>

              <td>
              <% if c.phone_numbers != nil %>
                  <%  c.phone_numbers.each do |p| %>
                      <%= p.call_number %><br>
                  <% end %>
              <% end %>
              </td>

          </tr>
      <% end %>
  <% end %>
  </table>

<p> Contact Record Count: &nbsp; <%= @contact_all.count %></p>
