<h1>Hello, Singapore & Shanghai! Hello, Jakarta & Bali!</h1>

<a href = "../show_all_data/show"> Show All Data </a>

<h3> Contacts and Associated Information </h3>
  <table style="border: 1px solid black">
  <tr><td> First Name </td><td> Last Name </td><td> Note</td><td> Should Do</td><td> Phone Number</td></tr>
  <% if @contact_all != nil %>
      <% @contact_all.each do |c| %>
          <tr><td style="background-color: orange">  <%= c.first_name %> </td><td style="background-color: orange"> <%= c.last_name %> </td>

              <td>
              <% if c.notes != nil %>
                  <%  c.notes.each do |n| %>
                      <%= n.body %><br>
                  <% end %>
              <% end %>
<!--          <% if @note_all.where( :contact_id => c.id ) != nil %>
                  <%  @note_all.where( :contact_id => c.id ).each do |n| %>
                      <%= n.body %><br>
                  <% end %>
              <% end %>
              </td> -->

              <td>
              <% if c.actions != nil %>
                  <%  c.actions.each do |a| %>
                      <%= a.should_do %><br>
                  <% end %>
              <% end %>
<!--          <% if @action_all.where( :contact_id => c.id ) != nil %>
                  <%  @action_all.where( :contact_id => c.id ).each do |a| %>
                      <%= a.should_do %><br>
                  <% end %>
              <% end %> -->
              </td>

              <td>
              <% if c.phone_numbers != nil %>
                  <%  c.phone_numbers.each do |p| %>
                      <%= p.call_number %><br>
                  <% end %>
              <% end %>
<!--          <% if @phone_number_all.where( :contact_id => c.id ) != nil %>
                  <%  @phone_number_all.where( :contact_id => c.id ).each do |p| %>
                      <%= p.call_number %><br>
                  <% end %>
              <% end %>  -->
              </td>

          </tr>
      <% end %>
  <% end %>
  </table>

<p> Contact Record Count: &nbsp; <%= @contact_all.count %></p>
